<div class="super-wrap nav-layout">
  <nav class="side-nav side-nav-on" id="sidenav">
    <h3 class="authority">배달의민족 <strong>Super Admin</strong></h3>

    <ul class="nav-list">
      <li><a href="#">업주업소</a></li>
      <li><a href="#">업주업소</a></li>
      <li><a href="#">업주업소</a></li>
      <li>
        <a class="depth" data-toggle="collapse" data-parent="#sidenav" href="#sub01" aria-controls="sub01">메뉴 뎁스</a>
        <ul class="subnav-list collapse" id="sub01">
          <li>
            <a href="#">test nav</a>
          </li>
          <li>
            <a href="#">test nav</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="wrapper">
    <div class="navbar navbar-fixed-top">
      <header class="container-fluid">
        <div class="row">
          <h1 class="sr-only">SUPER</h1>

          <button type="button" class="navbar-toggle">
            <i class="fa fa-bars"></i>
          </button>

          <ul class="top-link nav navbar-nav navi-list">
            <li><a class="selected" href="#">top nav</a></li>
            <li><a href="#">top nav</a></li>
            <li><a href="#">top nav</a></li>
            <li><a href="#">EXPORT</a></li>
          </ul>

          <div id="gk_nav" class="navbar-right">
          </div>
        </div>
      </header>

      <div class="subnav-horizontal">
        <div class="row">
          <h2 class="sr-only">전역 메뉴</h2>
          <nav>
            <ul class="nav navbar-nav navi-list">
              <li><a class="selected" href="#">액티브메뉴</a></li>
              <li><a href="#" target="_blank">login page</a></li>
              <li><a href="#" target="_blank">authentication</a></li>
              <li><a href="#" target="_blank">find password</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>

    <div class="main-contents"></div>

    <footer class="footer">
      <small class="copyright">Copyright &copy; <em>Woowa Brothers Corp</em>  All rights Reserved.</small>
    </footer>
  </div>
</div>
